@model IEnumerable<eShopSolution.Data.Entities.AppRole>
@{
    Layout="_Layout";
}

<div class="container">
    <div class="row">
        <h3 class="text-light">Danh sách role</h3>
    </div>
    <table class="table table-sm table-bordered table-striped">
        <tr>
            <th>Tên</th>
            <th></th>
        </tr>
        @if(Model.Count()==0){
            <tr>Không có role</tr>
        }
        else{
            @foreach (var r in Model)
            {
                <tr>
                    <td>@r.Name</td>
                    <td>
                        <form method="POST">
                        <a class="btn btn-primary">Sửa</a>
                        <a class="btn btn-success">Thêm người dùng</a>
                        <button class="btn btn-danger" type="submit">Xóa</button>
                    </form>
                    </td>
                </tr>
            }
        }
    </table>
</div>